input {
    margin-right: 3px;
}

.Parent {
    align-self: center;
}

.Form-part {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-by {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.label-sort-by {
    margin-right: 10px;
}