.horizontal-pagination {
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
}

.clicked {
    background-color: #007bff;
    color: #fff;
}

.list-group {
    display: flex;
    flex-direction: column;
}